registry=https://pkgs.dev.azure.com/testesieger/ts-utils/_packaging/alexandrepereira-ts-ui-components/npm/registry/ 
                        
always-auth=true

4SAADACPQeNai3pHdt8VKbbK40dYfZ7XPzLwe4u51cSZ4QohpTutJQQJ99BGACAAAAAkmy10AAASAZDO2XZO

; begin auth token
//pkgs.dev.azure.com/testesieger/ts-utils/_packaging/alexandrepereira-ts-ui-components/npm/registry/:username=testesieger
//pkgs.dev.azure.com/testesieger/ts-utils/_packaging/alexandrepereira-ts-ui-components/npm/registry/:_password=NFNBQURBQ1BRZU5haTNwSGR0OFZLYmJLNDBkWWZaN1hQekx3ZTR1NTFjU1o0UW9ocFR1dEpRUUo5OUJHQUNBQUFBQWtteTEwQUFBU0FaRE8yWFpP
//pkgs.dev.azure.com/testesieger/ts-utils/_packaging/alexandrepereira-ts-ui-components/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/testesieger/ts-utils/_packaging/alexandrepereira-ts-ui-components/npm/:username=testesieger
//pkgs.dev.azure.com/testesieger/ts-utils/_packaging/alexandrepereira-ts-ui-components/npm/:_password=NFNBQURBQ1BRZU5haTNwSGR0OFZLYmJLNDBkWWZaN1hQekx3ZTR1NTFjU1o0UW9ocFR1dEpRUUo5OUJHQUNBQUFBQWtteTEwQUFBU0FaRE8yWFpP
//pkgs.dev.azure.com/testesieger/ts-utils/_packaging/alexandrepereira-ts-ui-components/npm/:email=npm requires email to be set but doesn't use the value
; end auth token

